{{ $related := first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
{{ with $related }}
<!-- begin related posts -->
<div class="container">
  <section class="section related-posts">
    <div class="section__info section__info__center">
      <div class="section__head">
        <span class="section__intro">Related Posts</span>
        <h2 class="section__title">In case you missed it</h2>
      </div>
    </div>
    <div class="row">
      {{ range . }}
        {{ partial "article.html" . }}
      {{ end }}
    </div>
  </section>
</div>
<!-- end related posts -->
{{ end }}